.n-wrapper{
    display: flex;
    height: 3rem;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.229);
    background-color: aliceblue;
    margin: 0 auto;
}

.n-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-right: 44px;
}

.n-logo{
    width: 55px;
}

.n-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 10;
}

.n-list>ul{
    display: flex;
    justify-content: space-between;
}

.n-list>ul>li{
    position: relative;
    margin-right: 40px;
}

.n-list>ul>li>a{
    color: #383838;
}

.n-list>ul>li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2.5px;
    border-radius: 20px;
    background-color: #8269ec;
    transition: 0.5s;
}

.n-list>ul>li:hover::after{
    width: 100%;
}

.n-list>ul>li>a:hover{
    color : #8269ec;
    cursor: pointer;
}

.n-account{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.n-cross{
    display: none;
}

.n-bars{
    display: none;
}

@media screen and (max-width: 920px){
    .n-list>ul>li{
        margin-right: 20px;
    }
}

@media screen and (max-width: 800px){
    .n-cross{
        display: block;
    }
    
    .n-bars{
        display: block;
        margin-left: 5px;
    }

    .n-wrapper{
        justify-content: space-between;
        height: 2.5rem;
        padding: 8px;
    }
    
    .n-logo{
        width: 45px;
    }

    .n-left{
        flex: 0;
    }

    .n-right{
        flex: 0;
    }

    .n-list>ul{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        padding: 23px;
    }

    .n-list>ul>li{
        margin-bottom: 35px;
    }

    .n-list{        
        background: #a8d0f4;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        z-index: 100;
        color: grey;
        transition: 0.3s ease-in-out;
    }

    .n-account{
        margin: 0;
    }

}



