.password-forgot{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    padding: 100px;
}

.password-forgot>div{
    width: 500px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    background-color: #ffffff5e;
    display: flex;
    justify-content: center;
    padding: 20px 20px 30px 30px;
    flex-direction: column;
    height: 100%;
    gap: 17px;
}

.password-forgot>div>label{
    font-size: 14px;
    font-weight: 500;
}

.password-forgot>div>input{
    background-color: #f4f4f4;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    outline: none;
}

.password-forgot>div>input:focus{
    border: 2px solid #512da8;
}

.password-forgot>div>button{
    background-color: #512da8;
color: #fff;
font-size: 12px;
padding: 10px 45px;
border: 1px solid transparent;
border-radius: 8px;
font-weight: 600;
letter-spacing: 0.5px;
width: 100%;
text-transform: uppercase;
cursor: pointer;
}

.password-forgot>div>button:hover{
    background-color: #2e1669;
}

@media screen and (max-width:750px){
    .password-forgot{
        padding: 100px 50px;
    }
    .password-forgot>div{
        width: 80vw;
    }
}